*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height:100vh;
    width:100vw;
    background:linear-gradient(135deg,rgb(116, 51, 165),purple,rgb(153, 35, 196),purple);
    display:flex;
    justify-content:center;
    align-items: center;
}

.box{
    height: 50vmin;
    width: 70vmin;
    background-color: #EBE8FC;
    border-radius: 10px;
}

#toptext{
    padding:10px;
}

.logo{
    height:25px;
    width:25px;
    margin-top:10px;
    background-image: url("img/pencil.png");
    background-size: cover;
}

.topbox{
    display:flex;
}

.entry-box{
    margin-left: 10px;
}

input::placeholder{
    color:white;
}

.task{
    position: relative;
    left: 11px;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 30px;
    width: 59vmin;
    background: transparent;
    background-color: rgb(139, 127, 127);
    opacity: 0.4;
    color: white;
    padding-left: 5px;
}


.add{
    position: absolute;
    height: 30px;
    width: 51px;
    border-radius: 0 10px 10px 0px;
    border: none;
    background-color: #F96B00;
    z-index: auto;
}

.add:hover{
    position: absolute;
    background-color:#f96c00c6;
    z-index: auto;
}

.checkbox{
    display:inline-block;
}

ul li{
    width: 56vmin;
    height: 30px;
    position: relative;
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    left: 49px;
}

ul li::before{
    content: "";
    display: inline-block;
    background-image: url(img/319248.png);
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -26px
}

ul li.checked{
    text-decoration: line-through;
}


ul li.checked::before{
    content: "";
    display: inline-block;
    background-image: url(img/check2.png);
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -26px;
}



ul li span{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 44px;
    font-size: 18px;
    line-height: center;
    text-align: center;
}

ul li span:hover{
    background: rgba(0, 0, 0, 0.256);
    border-radius:50%;
}